@font-face {
  font-family: "Beth Ellen", cursive;
  src: url("https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap");
}

body {
  background-color: rgb(14, 14, 105);
}

.frontend {
  font-family: "Beth Ellen", cursive, serif;
  font-size: 40px;
}

.raunded-img {
  width: 60%;

  padding: 0, 6em;
  margin-bottom: 1em;
}
